$accent: #10B092;
$green-light: #1ECEAD;
$white: #ffffff;
$dark: #181B1E;
$dark-2: #3D4048;
$grey:#C8CDD6;
$grey-2: #757C8A;
$dark-grey: #23262C;
$light-text: #E4E8F0;
$silver: #EBEDF2;
$silver-2: #F2F4F7;
$silver-3: #DCE0E8;